:root {
  --pink: rgb(241, 148, 163);
  --lightpink: rgb(255, 243, 244);
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}

/* Other existing CSS rules */

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  position: relative;
  color: var(--pink); /* Change text color on active or hover */
}

.navbar-nav .nav-item .nav-link.active::after,
.navbar-nav .nav-item .nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Adjust as needed */
  height: 2px; /* Thickness of the underline */
  background-color: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  background: var(--white);
}

.center {
  text-align: center;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--almost-black);
}

p {
  margin: 24px 0;
}

.card-wrapper {
  margin: 0 auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1; /* Ensures content-wrapper takes up the remaining space */
}

.image-column {
  display: none;
}

.form-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightpink);
}

.side-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  width: 100%; /* Adjust the size as needed */
  max-width: 300px;
  height: auto;
  margin-bottom: 20px; /* Space between the logo and the form */
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }

  .image-column {
    display: block;
    flex: 1;
  }

  .side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightpink);
  }
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }

  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}

form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--grey-medium);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 10px 9px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var (--red);
}

.error--hidden {
  display: none;
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

.header-section {
  background-image: url('../images/bg-image.png'); /* Correct reference to static folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container {
  background-color: rgba(255, 255, 255, 0.9); /* Change color as needed */
  padding: 20px;
  border-radius: 8px;
}

.header-container h1, .header-container p {
  color: #333; /* Adjust text color as needed */
}

.btn-custom {
  background-color: rgb(241, 148, 163);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  outline: none; /* Remove default outline */
  transition: transform 0.2s, background-color 0.2s; /* Add smooth transition */
}


.btn-customhome {
  position: absolute;
  right: 23rem;
  background-color: rgb(241, 148, 163);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  outline: none; /* Remove default outline */
  transition: transform 0.2s, background-color 0.2s; /* Add smooth transition */
}

.btn-custom:focus, .btn-custom:active, .btn-customhome:focus, .btn-customhome:active{
  background-color: rgb(241, 148, 163); /* Keep background color the same on focus and active */
  transform: scale(1.05); /* Slightly enlarge the button on click */
  outline: none; /* Remove default outline */
}


.btn-custom:hover, .btn-customhome:hover{
  background-color: grey;
  color: white;
  transform: scale(1.1);
}

.btn-secondary {
  background-color: rgb(241, 148, 163);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.custom-grey-button {
  background-color: grey;
  border-color: grey;
  color: white; 
}

.custom-grey-button:hover,
.custom-grey-button:focus,
.custom-grey-button:active {
  background-color: darkgrey;
  border-color: darkgrey;
}


.signout-btn {
  position: absolute;
  top: 10px;
  right: 6rem;
  background-color: rgb(241, 148, 163);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.motivation-section {
  padding: 50px 0;
  text-align: center;
  flex: 1; /* Ensure this section takes up remaining space */
}


.generated-pattern-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.generated-pattern {
  max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px; /* Add some space between the image and the footer */
}

.footer {
  text-align: center;
  height: 3em;
  background-color: rgb(241, 148, 163);
  width: 100%;
  margin-top: auto; /* Ensures footer is pushed to the bottom */
}

.footer p {
  color: white;
  font-size: 15px;
}
