{% extends "base.html" %}

{% block title %}Textile Pattern Generation{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center">About</h1>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/female_avatar.png') }}" alt="Mashym Ali Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
        <h4>Mashym Ali</h4>
        <p>2020F-BSE-052</p>
        <p>Role: Frontend Developer</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/mahnoor.jpg') }}" alt="Mahnoor Khan Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
        <h4>Mahnoor Khan</h4>
        <p>2020F-BSE-069</p>
        <p>Role: Backend Developer/Database and Frontend Integration</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/fareeha.jpeg') }}" alt="Fareeha Noman Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
        <h4>Fareeha Noman</h4>
        <p>2020F-BSE-086</p>
        <p>Role: Backend/Database Developer</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/sohaib.jpeg') }}" alt="Sohaib Akhter Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
        <h4>Sohaib Akhter</h4>
        <p>2020F-BSE-094</p>
        <p>Role: QA Testing/Documentation/Research Paper/Group Lead</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
