<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PatternCraft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">About</h1>
                <h4>Developed by:</h4>
                <li>Mashym Ali    2020F-BSE-052</li>
                <li>Mahnoor Khan  2020F-BSE-069</li>
                <li>Fareeha Noman 2020F-BSE-086</li>
                <li>Sohaib Akhter 2020F-BSE-094</li>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
    <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="" style="margin: 40px;"> 
</div>

<!-- Footer -->
<footer style="background-color: blue; color: white; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;left: 0;">
    All Rights Reserved
</footer>

    <!-- Bootstrap Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
