{% extends "base.html" %}

{% block title %}Gallery - PatternCraft{% endblock %}

{% block content %}
<style>
    .modal-lg {
        max-width: 80%;
    }

    .modal-body img {
        width: 50%;
        height: 50%;
    }
</style>
<h1 class="fw-light text-center text-lg-start mt-4 mb-0">Gallery</h1>
<hr class="mt-2 mb-5">

<div class="container">
    <div class="row text-center text-lg-start" id="gallery-container">
        <!-- Dynamic content will be inserted here -->
    </div>
    <!-- New div for empty message, initially hidden -->
    <div class="row text-center text-lg-start d-none" id="empty-message">
        <div class="col-12">
            <p class="fw-light">Your gallery is currently empty, fill it with your amazing creations!</p>
            <button type="button" class="btn btn-secondary" id="get-started-button">Let's Get Started</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" class="img-fluid" src="" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary custom-grey-button" data-dismiss="modal">Close</button>
                <a id="downloadButton" class="btn btn-secondary" href="" download>Download Image</a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/get-user-prompts', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        })
            .then(response => response.json())
            .then(data => {
                const galleryContainer = document.getElementById('gallery-container');
                const emptyMessage = document.getElementById('empty-message');
                galleryContainer.innerHTML = '';  // Clear existing content if any

                // Check if no prompts are available
                if (data.prompts.length === 0) {
                    emptyMessage.classList.remove('d-none');  // Show empty message
                } else {
                    let rowDiv = document.createElement('div');
                    rowDiv.className = 'row text-center text-lg-start';
                    data.prompts.forEach((prompt, index) => {
                        if (index > 0 && index % 4 === 0) {
                            galleryContainer.appendChild(rowDiv);
                            rowDiv = document.createElement('div');
                            rowDiv.className = 'row text-center text-lg-start';
                        }

                        const colDiv = document.createElement('div');
                        colDiv.className = 'col-lg-3 col-md-4 col-6';

                        const a = document.createElement('a');
                        a.href = '#';
                        a.className = 'd-block mb-4 h-100';

                        const img = document.createElement('img');
                        img.className = 'img-fluid img-thumbnail';
                        img.src = `data:image/jpeg;base64,${prompt.image}`;
                        img.alt = '';
                        img.dataset.toggle = 'modal';
                        img.dataset.target = '#imageModal';
                        img.dataset.image = `data:image/jpeg;base64,${prompt.image}`;

                        const figcaption = document.createElement('figcaption');
                        figcaption.innerText = prompt.prompt;

                        a.appendChild(img);
                        a.appendChild(figcaption);
                        colDiv.appendChild(a);
                        rowDiv.appendChild(colDiv);

                        img.addEventListener('click', function () {
                            const modalImage = document.getElementById('modalImage');
                            const downloadButton = document.getElementById('downloadButton');
                            modalImage.src = this.dataset.image;
                            downloadButton.href = this.dataset.image;
                        });
                    });

                    if (rowDiv.childNodes.length > 0) {
                        galleryContainer.appendChild(rowDiv);
                    }
                }
            })
            .catch(error => {
                console.error('Error fetching the prompts:', error);
                const emptyMessage = document.getElementById('empty-message');
                emptyMessage.classList.remove('d-none');  // Show empty message on error
            });
    });
</script>
{% endblock %}