{% extends "base.html" %}

{% block title %}Textile Pattern Generation{% endblock %}

{% block navbar %}{% endblock %} <!-- Override navbar block to exclude it -->

{% block content %}
<div class="header">
  <div class="header-section">
    <div class="header-container">
      <h1>PatternCraft Textile Design Generator</h1>
      <p>Your source for innovative textile designs.</p>
      <div class="mt-4">
        <a href="login.html" class="btn btn-custom">Log In</a>
        <a href="signup.html" class="btn btn-custom">Sign Up</a>
      </div>
    </div>
  </div>   
</div>


<div class="container motivation-section">
  <h2>Our Motivation</h2>
  <p>We are dedicated to revolutionizing textile design by blending traditional<br>craftsmanship with modern technology. Our mission is to inspire creativity and<br>innovation in the textile industry.</p>
</div>
{% endblock %}
