{% extends "base.html" %}

{% block title %}Textile Pattern Generation{% endblock %}

{% block navbar %}{% endblock %} <!-- Override navbar block to exclude it -->

{% block content %}
<div class="card-wrapper">
  <div class="card">
    <h1 class="center">Create an Account</h1>
    <form name="signup_form" method="POST" action="{{ url_for('signup') }}">
      <label for="name">Name</label>
      <input type="text" name="name" class="field" placeholder="Enter your name" required>
      <label for="email">Email</label>
      <input type="email" name="email" class="field" placeholder="Enter your email address" required>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Enter your password" class="field" required>
      <p class="error error--hidden"></p>
      <input type="submit" value="Sign Up" class="btn-custom">
    </form>
  </div>
</div>
{% endblock %}
